@import './tiles.scss';

.GameBoard {
    align-items: center;
    // border:1px solid magenta;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:4px;
    margin-top:36px;
    max-width:28rem;
    min-width: 500px;
  }