@import './tiles.scss';

.GameBoard {
    // border:1px solid magenta;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 20px 0 20px;
    min-width: 50*10px;
    width: 50*10px;
    &.clickedHover {
      .tile:hover {
        background:yellow;
        color:black;
      }
    }
  }