@import '../../scss/palette';
@import '../../scss/mixins.scss';

.tile {
  @include GameBoard--tile;

  &.x {
    background: $tile__1-color;
    border-top: 0;
    border-left: 0;
    box-shadow: $th $th $tile__1-color;
    transform: translate(-$th, -$th);
  }

  &.xx {
    background: $tile__2-color;
    box-shadow: $th $th $tile__2-color, $th * 2 $th * 2 $tile__2-color;
    transform: translate(-$th * 2, -$th * 2);
  }

  &.xxx {
    background: $tile__3-color;
    box-shadow: $th $th $tile__3-color, $th * 2 $th * 2 $tile__3-color,
      $th * 3 $th * 3 $tile__3-color;
    transform: translate(-$th * 3, -$th * 3);
  }

  &.xxxx {
    background: $tile__4-color;
    box-shadow: $th $th $tile__4-color, $th * 2 $th * 2 $tile__4-color,
      $th * 3 $th * 3 $tile__4-color, $th * 4 $th * 4 $tile__4-color;
    transform: translate(-$th * 4, -$th * 4);
  }

  &.xxxxx {
    background: $tile__5-color;
    border: 0;
    box-shadow: $th $th $tile__5-color, $th * 2 $th * 2 $tile__5-color,
      $th * 3 $th * 3 $tile__5-color, $th * 4 $th * 4 $tile__5-color,
      $th * 5 $th * 5 $tile__5-color;
    transform: translate(-$th * 5, -$th * 5);
  }

  &.xxxxxx {
    background: $tile__6-color;
    box-shadow: $th $th $tile__6-color, $th * 2 $th * 2 $tile__6-color,
      $th * 3 $th * 3 $tile__6-color, $th * 4 $th * 4 $tile__6-color,
      $th * 5 $th * 5 $tile__6-color;
    transform: translate(-$th * 5, -$th * 5);
  }

  &.xxxxxxx {
    background: $tile__7-color;
    box-shadow: $th $th $tile__7-color, $th * 2 $th * 2 $tile__7-color,
      $th * 3 $th * 3 $tile__7-color, $th * 4 $th * 4 $tile__7-color,
      $th * 5 $th * 5 $tile__7-color;
    transform: translate(-$th * 5, -$th * 5);
  }

  &.xxxxxxxx {
    background: $tile__8-color;
    box-shadow: $th $th $tile__8-color, $th * 2 $th * 2 $tile__8-color,
      $th * 3 $th * 3 $tile__8-color, $th * 4 $th * 4 $tile__8-color,
      $th * 5 $th * 5 $tile__8-color;
    transform: translate(-$th * 5, -$th * 5);
  }

  &.xxxxxxxxx {
    background: $tile__9-color;
    box-shadow: $th $th $tile__9-color, $th * 2 $th * 2 $tile__9-color,
      $th * 3 $th * 3 $tile__9-color, $th * 4 $th * 4 $tile__9-color,
      $th * 5 $th * 5 $tile__9-color;
    transform: translate(-$th * 5, -$th * 5);
  }

  // set a default style for played tiles
  &.stack {
    background: $tile--played-color;
    // border: 1px solid $tile--played-border;
  }

  &.active {
    background: white;
    &:hover {
      background: $tile__9-color;
    }
  }

  &.blank {
    background: $tile__0-color;
    &.central {
      background: $tile__9-color;
    }
  }

  &.clicked {
    background: $active-color;
    color: white;
  }

  &.clickedHover {
    .tile:hover {
      background: $tile__9-color;
      color: white;
    }
  }
} // .tile END
