@import '../../scss/palette';

.MessageModal {
    // align-self: center;
    background: $message--bg;
    border:1px solid $tile__2-color;
    border-radius: 4px;
    box-shadow: 0 0 10px $tile__2-color;
    color:black;
    font-size:1rem;
    // @media (max-width: $screen-sm-max) {
    //     font-size:1.5rem;
    // }
    padding:8px;
    position:fixed;
    top:10vh;
    left:70vw;
    text-shadow: 1px 1px 5px $tile__2-color;
    // width:100%;
    z-index: 1;
}