.ScoreBoard {
    // border:1px solid white;
    align-items: center;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    grid-row-start: 9;
    // grid-row-end: span 2;
    margin-top:$th;

    .myScore {
        font-size:$th*5;
        padding-bottom:$th;
    }

    .myHistory {
        align-items:center;
        border-top:1px solid white;
        display: flex;
        flex-direction: column;
        padding-top:$th;
        .word {
            font-size:$th*3;
            padding:$th/2;
        }
    }

    @media (max-width: $screen-sm-max)  {
        // border:1px solid red;
        padding-top:$th*4;
    }

    @media (max-width: $screen-xs-max) {
        // border:1px solid green;
        padding-top:$th*6;
    }

}