.ScoreBoard {
    // border:1px solid white;
    display:grid;
    grid-template-rows: repeat(9, $tw [GameBoard--tile]);
    grid-gap: $th $th;
    // max-width: $tw*3;
    padding:8px;

    .playerName {
        align-self: center;
        text-align: center;
        // border: 1px solid green;
        border-bottom:1px solid white;
        display: flex;
        font-size:$th*5;
        padding-bottom:$th;
    }

    .history {
        align-items:center;
        // border:2px solid red;
        display: flex;
        flex-direction: column;
        padding-top:$th;
        .word {
            font-size:$th*3;
            // padding:$th/2;
        }
    }

    @media (max-width: $screen-sm-max)  {
        // border:1px solid red;
        padding-top:$th*4;
    }

    @media (max-width: $screen-xs-max) {
        // border:1px solid green;
        padding-top:$th*6;
    }

}