@import '../../scss/palette';
@import '../../scss/mixins';

.Modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.808);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  // z-index: 12;
}

.History {
  align-items: center;
  border: 1px solid white;
  // background: rgba(0, 0, 0, 0.909);
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4rem;
  padding: 1rem;
  // width: 50%;
  z-index: 1;
  position: fixed;
  top: 0;
}

.History--line-container {
  // border: 1px solid red;
  background: rgba(0, 0, 0, 0.709);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.History--line {
  color: white;
  padding: 0.25rem;
}
