@import './variables';
@import url('https://fonts.googleapis.com/css?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css?family=K2D&display=swap');

@mixin grid__center {
  align-self: center;
  justify-self: center;
}

@mixin WordUp--logo {
  color: white;
  font-family: 'Ultra', serif;
  font-size: $tw * 0.7;
  margin: 16px;
  // prettier-ignore
  text-shadow: 
		0 $th 0px $tile__3-color, 
		0 $th * 2.3 0px $tile__3-color,
		0 $th * 2 0px $tile__3-color, 
		0 $th * 1.5 0px $tile__3-color;
}

// TODO
// toggle config obj >> retro square tiles (border-radius:none)
@mixin GameBoard--tile {
  align-items: center;
  background: $tile__4-color;
  border-right: 0;
  border-bottom: 0;
  border-radius: 8px;
  box-shadow: $th/2.2 $th/2.2 0 0 $tile__2-color;
  color: $black;
  cursor: pointer;
  display: flex;
  font-family: 'K2D', sans-serif;
  font-size: $tw * 0.6;
  justify-content: center;
  padding: $th;
  width: $tw;
  height: $tw;

  @media (max-width: $screen-xs-max) {
    $tw: 36px;
    $th: $tw/10;
    width: $tw;
    height: $tw;
    padding: $th;
    font-size: $tw * 0.6;
    border-radius: $th * 3;
    box-shadow: $th/2.2 $th/2.2 0 0 $tile__2-color;
  }

  small {
    font-size: $tw * 0.22;
    @media (min-width: $screen-md-min) {
      $tw: 60px;
      font-size: $tw * 0.22;
    }
    // ALTERNATE styling idea >> numbers on the vertical stack
    // transform: skewX(45deg);
    // position:absolute;
    // left:37px;
    // top:51px
  }
}

@mixin PlayerControls--letter {
  @include GameBoard--tile();
  background: $lemon;
  cursor: pointer;

  &.clicked {
    background: $active-color;
    color: white;
  }

  &:active,
  &:hover {
    background: $tile__9-color;
    color: $black;
  }
}

@mixin white-button {
  $tw: 30px;
  border: 0;
  border-radius: 4px;
  box-shadow: 2px 2px $grey, 4px 4px $grey;
  font-family: 'K2D', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 4px;
  outline: none;
  padding: 4px;
  user-select: none;
  width: 40px;
  min-height: 40px;

  &:hover {
    background: $active-color;
    color: white;
    cursor: pointer;
  }

  &:active {
    background: $active-color;
    color: white;
    box-shadow: 0 0;
    transform: translate(4px, 4px);
  }
}
