// a11y colors
$primary-bg: #708090;
$hot-green: #baf73c;
$hot-green1: #98fb98;
$hot-green2: #00ff7f;
$hot-blue: #00f8fb;
$hot-blue2: #00ffff;
$hot-blue3: #7fffd4;
$deep-blue: #0000b5;
$deep-blue2: #00008b;
$deep-green: #002a2a;
$pink: #58007e;
$pink2: #600060;
$black: #000036;
$grey: #dadfe1;
$grey2: #c5eff7;
$grey3: #2e343b;
$grey5: #322a60;
$flesh: #ffecdb;
$alert-red: #600060;
$lemon: #f1f227;
$lime: #c9f227;
$white: #ffffff;

$active-color: $black;
$message--bg: $primary-bg;

$form__input-bg: white;
$form__input-text: $black;

$BASE-GREY: hsla(212, 12%, 21%, 1);

$b: 10;
$tile__0-color: hsla(212, 10%, 20%, 1);
$tile__1-color: hsla(212, 20%, 25%, 1);
$tile__2-color: hsla(212, 30%, 30%, 1);
$tile__3-color: hsla(212, 40%, 35%, 1);
$tile__4-color: hsla(212, 50%, 40%, 1);
$tile__5-color: hsla(212, 60%, 45%, 1);
$tile__6-color: hsla(212, 70%, 50%, 1);
$tile__7-color: hsla(212, 80%, 55%, 1);
$tile__8-color: hsla(212, 90%, 60%, 1);
$tile__9-color: hsla(212, 100%, 65%, 1);

$logo__0-color: hsla(212, 10%, 20%, 1);
$logo__1-color: hsla(212, 20%, 25%, 0.3);
$logo__2-color: hsla(212, 30%, 30%, 0.3);
$logo__3-color: hsla(212, 40%, 35%, 0.3);
$logo__4-color: hsla(212, 50%, 40%, 0.3);
$logo__5-color: hsla(212, 60%, 45%, 0.3);
$logo__6-color: hsla(212, 70%, 50%, 0.3);
$logo__7-color: hsla(212, 80%, 55%, 0.3);
$logo__8-color: hsla(212, 90%, 60%, 0.3);
$logo__9-color: hsla(212, 100%, 65%, 0.3);

$tile__ltr-color: hsla($b * 33, 100, 88, 0.75);

$tile__border-color: hsla($b * 10, 50, 60, 0.75);
$tile--played-color: $lemon;
$tile--played-border: hsla($b * 20, 50, 70, 0.35);
