@import '../../scss/mixins';
@import '../../scss/palette';

section.playerForm {
  align-items: center;
  // background: black;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;

  header {
    @include WordUp--logo();
    font-size: 1.75rem;
    margin: 0.5rem;
    text-align: center;
    margin-bottom: 2rem;
    @media (max-width: 600px) {
      margin-top: 1.5rem;
    }
  }

  .numberButtons {
    display: flex;

    button.num {
      @include white-button;
      width: 50px;
      height: 50px;
      margin: 0.5rem;
      &.active {
        background: $active-color;
        color: white;
        box-shadow: 0 0;
        transform: translate(4px, 4px);
      }
    }
  }

  form {
    // border: 1px solid yellow;
    align-items: center;
    margin: 1rem;
    display: flex;
    flex-direction: column;

    .playerName {
      display: flex;
      flex-direction: column;
      margin: 0.5rem;

      label {
        margin-bottom: 0.5rem;
      }

      input[type='text'] {
        background: $form__input-bg;
        // border: 1px solid $form__input-text;
        border: none;
        border-radius: 4px;
        color: $form__input-text;
        outline: none;
        padding: 0.75rem;
        width: 200px;
        font-size: 1rem;
      }
    }

    button.start {
      align-self: center;
      @include white-button;
      margin: 2rem;
      padding: 8px;
      width: 150px;
    }
  }
}
