
.StartNewGame {
    align-items: center;
    // border:1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    // max-width: $tw*8;

    h1.logo__big {
        // border:1px solid red;
        color:white;
        font-family: 'Ultra', serif;
        // font-size:$th * 40;
        font-size:80px;
        margin-bottom:$th*7.5;
        @media (max-width: $screen-xs-max) {
            font-size:60px;
            // font-size:$th * 15;
        }
        text-shadow:
        0 $th     0px $tile__9-color,
        0 $th*1.5 0px $tile__9-color,
        0 $th*2   0px $tile__8-color,
        0 $th*2.5 0px $tile__8-color,
        0 $th*3   0px $tile__7-color,
        0 $th*3.5 0px $tile__7-color,
        0 $th*4   0px $tile__6-color,
        0 $th*4.5 0px $tile__6-color,
        0 $th*5   0px $tile__5-color,
        0 $th*5.5 0px $tile__5-color,
        0 $th*6   0px $tile__4-color,
        0 $th*6.5 0px $tile__4-color,
        0 $th*7   0px $tile__3-color,
        0 $th*7.5 0px $tile__3-color,
        0 $th*8   0px $tile__2-color,
        0 $th*8.5 0px $tile__2-color,
        0 $th*9   0px $tile__1-color,
        0 $th*9.5 0px $tile__1-color,
        0 $th*10   0px $tile__0-color,
        0 $th*10.5 0px $tile__0-color,
        0 $th*11 10px black;
        transform: translateY(-$th*3);
        z-index:1;
    }

    .headline {
        // align-self: center;
        text-align: center;
        border-top:2px solid black;
        border-bottom:2px solid black;
        color: black;
        // font-size:$th*6;
        font-size:1rem;
        // margin-top:$th*4;
        // @media (max-width: $screen-xs-max) {
        //     margin-top:$th*8;
        // }
        width:80vw;
        padding:4px;
        z-index:0;
    }

    button.start {
        align-self: center;
        @include white-button;
        padding:8px;
        width:150px;
    }

    .playerForm {
        align-items: center;
        margin-top:8px;
        // border:1px solid red;
        display: flex;
        // display:none;
        flex-direction: column;

        p {
            // text-align: center;
            margin:8px;
        }

        .numberButtons {
            // border:1px solid blue;
            display:flex;
    
            button.num {
                @include white-button;
                width:50px;
                height:50px;
                &.active {
                    background:palevioletred;
                    box-shadow: 0 0;
                    transform: translate(4px,4px);
                }
            }
        }


        form {
            // border:1px solid yellow;
            margin:8px;
            display: flex;
            flex-direction: column;

            .playerName {
                align-self: center;
                // border:1px solid white;
                padding:8px;

                label {
                    margin:8px;
                }
    
                input[type=text] {
                    background:$form__input-bg;
                    border:1px solid $form__input-text;
                    border-radius:4px;
                    color:$form__input-text;
                    outline:none;
                    padding:8px;
                    width:80px;
                    &:focus {
                        background:slateblue;
                    }
                }
            }
        }
    }
    h2 {
        @include WordUp--logo();
        font-size:1.75rem;
    }

    h3 {
        @include WordUp--logo();
        align-self: center;
        font-size:1rem;
        text-shadow:
        0 $th 0px $tile__2-color,
        0 $th*1.5 0px $tile__2-color;
    }

    .rules {
        // border:1px solid yellow;
        display: flex;
        flex-direction: column;
        font-size:1rem;
        margin-bottom:16px;

        ul {
            list-style: square outside;
        }

        p {
            max-width:350px;
            padding:8px;
            // text-align: center;

            em {
                // color: palevioletred;
                font-weight:700;
            }
        }

    }

}