.StartNewGame {
  // border: 1px solid red;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;

  @media (max-width: 600px) {
    max-width: 100%;
  }

  h1.logo__big {
    color: white;
    font-family: 'Ultra', serif;
    font-size: 80px;
    margin-bottom: $th * 7.5;
    @media (max-width: $screen-xs-max) {
      font-size: 60px;
    }
    // prettier-ignore
    text-shadow: 
			0 $th 0px $logo__9-color, 
			0 $th * 1.5 0px $logo__9-color,
			0 $th * 2 0px $logo__8-color, 
			0 $th * 2.5 0px $logo__8-color,
			0 $th * 3 0px $logo__7-color, 
			0 $th * 3.5 0px $logo__7-color,
			0 $th * 4 0px $logo__6-color, 
			0 $th * 4.5 0px $logo__6-color,
			0 $th * 5 0px $logo__5-color, 
			0 $th * 5.5 0px $logo__5-color,
			0 $th * 6 0px $logo__4-color, 
			0 $th * 6.5 0px $logo__4-color,
			0 $th * 7 0px $logo__3-color, 
			0 $th * 7.5 0px $logo__3-color,
			0 $th * 8 0px $logo__2-color, 
			0 $th * 8.5 0px $logo__2-color,
			0 $th * 9 0px $logo__1-color, 
			0 $th * 9.5 0px $logo__1-color,
			0 $th * 10 0px $logo__0-color, 
			0 $th * 10.5 0px $logo__0-color,
      0 $th * 11 10px black;
    transform: translateY(-$th * 3);
    z-index: 1;
  }

  .headline {
    text-align: center;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
    color: $black;
    font-size: 1rem;
    padding: 4px;
    max-width: 1000px;
    // width: 80vw;
    width: 100%;
    z-index: 0;
  }
}

section.StartNewGame--Landing {
  // justify-content: space-evenly;
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  // border: 1px solid red;
  padding: 1rem 0;
  // width: 100%;
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 90%;
    padding: 0 1rem;
  }
}
