.MiniScores {
  align-items: center;
  // border: 1px solid white;
  display: flex;
  justify-content: space-evenly;
  padding: $tw * 0.3;
  padding-top: 0;
  width: 100%;
  max-width: $tw * 9;

  .playerCard {
    align-items: center;
    border-radius: 4px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    font-size: $th * 6;
    margin: $th;
    max-width: $tw * 3;
    overflow-wrap: break-word;
    padding: $th * 2;

    &.active {
      background: $tile__2-color;
      color: black;
      border-top: 0;
      border-left: 0;
    }

    @media (max-width: $screen-xs-max) {
      font-size: $th * 4;
    }
  }
}
