
.PlayerOne {
    align-items: center;
    align-self: flex-start;
    // background:orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:8px;
  
    .controls {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin:8px;
      h4 {
        font-size:1rem;
      }
      button {
        font-size:1rem;
        margin:8px;
        padding:10px;
        width:80px;
        &:hover {
          cursor:pointer;
          background:palevioletred;
          outline:none;
        }
      }
    }

    .myLetters {
      align-items: center;
      // border: 1px solid black;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width:140px;
    
      .letter {
        align-items: center;
        background: rgba(255, 218, 185, 0.527);
        border:1px solid white;
        color:rgba(216, 112, 147, 0.74);
        display:flex;
        font-size:2rem;
        justify-content: center;
        margin:4px;
        padding:8px;
        width:3rem;
        height:3rem;
        &:hover {
          cursor: pointer;
          background:white;
          color:black;
        }
      }
    }
  }