@import '../../scss/palette';
@import '../../scss/mixins';
@import '../ScoreBoard/ScoreBoard.scss';

.PlayerOne {
    // border:1px solid white;
    display:grid;
    grid-template-rows: repeat(9, $tw [GameBoard--tile]);
    grid-gap: $th $th;
    padding:8px;

    h1 {
      @include WordUp--logo();
      @include grid__center();
    }

    .myLetters {
      justify-self: center;
      // border:1px solid red;
      display: grid;
      grid-template-columns: $tw $tw;
      grid-template-rows: repeat(4, $tw);
      grid-gap: $th $th;
      margin:$th*2 0;

      .letter {
        @include PlayerOne--letter;
      }
    }

    .controls {
      // border:1px solid red;
      display: flex;
      flex-direction: column;
      grid-row-start: 6;
      grid-row-end: span 2;
      margin:$th*4 0;

      button {
        @include grid__center();
        @include submit-button;
      }
    }
  }
