@import '../../scss/palette';
@import '../../scss/mixins';
@import '../ScoreBoard/ScoreBoard.scss';

.PlayerOne {
  // border:1px solid yellow; 
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;

    .myLetters {
      justify-content: center;
      // border:1px solid white;
      display: flex;

      .letter {
        // margin:$th;
        @include PlayerOne--letter;
      }
    }

    .controls {
      align-items: center;
      justify-content: center;
      // border:1px solid blue;
      display: flex;
      padding: 8px;

      button {
        @include submit-button;
      }
    }
  }
