
@import './reset.scss';
@import './Components/PlayerOne/PlayerOne.scss';
@import './Components/GameBoard/GameBoard.scss';

* {
  box-sizing: border-box;
  transition: .5s;
}

body {
  background:slategray;
  color:white;
}

h2 {
  font-size:2rem;
  margin:12px;
}

.container {
  align-items: center;
  // border:1px solid white;
  display:flex;
  // width:100%;
}
