
@import './scss/reset';
@import './scss/variables';
@import './scss/palette';
@import './scss/mixins';
@import './Components/PlayerOne/PlayerOne.scss';
@import './Components/GameBoard/GameBoard.scss';
@import './Components/ScoreBoard/ScoreBoard.scss';

* {
  box-sizing: border-box;
  transition: .5s;
}

body {
  background:slategray;
  color:white;
}

.container {
  // align-items: center;
  // border:1px solid white;
  display:flex;
  font-family: 'K2D', sans-serif;
  height:99vh;
  width:99vw;
}
