
$active-color:palevioletred;

$tile__0-color: hsl(40,50,50);
$tile__1-color: hsl(80,50,50);
$tile__2-color: hsl(120,50,50);
$tile__3-color: hsl(160,50,50);
$tile__4-color: hsl(200,50,50);
$tile__5-color: hsla(240,50,50,.75);
$tile__6-color: hsla(280,50,50,.65);
$tile__7-color: hsla(320,50,50,.55);
$tile__8-color: hsla(360,50,50,.45);
$tile__9-color: hsla(0,50,50,.35);
$tile__ltr-color: hsla(44,100,88,.75);

$tile__border-color: hsla(200,50,60,.75);
